<nav class="navbar navbar-inverse navbar-fixed-top" id="mainNavbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button (click)="onToggleShow()" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLink="/" class="navbar-brand">{{title}}</a>
    </div>
    <div [ngClass]="{show: isShown}" id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/projects">Projects</a></li>
        <li><a routerLink="/portfolio">Portfolio</a></li>
        <li><a routerLink="/pixel-art">Pixel Art</a></li>
        <li><a routerLink="/posts">Posts</a></li>
      </ul>
    </div>
  </div>
</nav>
