#mainNavbar {
  background-color: #1c2252;
}
.navbar-nav {
  font-size: 22px;
  font-family: "Tamil MN", sans-serif;
}
.navbar-brand {
  font-size: 28px;
  font-family: "Tamil MN", sans-serif;
  font-weight: bold;
  color: #9d9d9d;
}
