<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <!-- Contact details -->
      <h5 class="text-uppercase">Contact details</h5>
      <ul class="list-group" style="list-style: none">
        <li style="font-weight: bold">Lloyd Nicholson</li>
        <li><a href="mailto:lloydnicholson@kidcon.co.za">Kid Connect</a></li>
        <li><a href="mailto:lloyd@lloydindevelopment.com">Lloyd in Development</a></li>
      </ul>
    </div>

    <div class="col-xs-6">
      <!-- Content -->
      <h5 class="text-uppercase">Credits</h5>
      <ul class="list-group" style="list-style: none">
        <li>Website created by <a href="https://lloydnicholson.github.io/LloydinDevelopment/" target="_blank">Lloyd Nicholson</a> using Bootstrap</li>
      </ul>
    </div>
    <!-- Grid column -->
    <hr class="clearfix w-100 d-md-none pb-3">
  </div>
</div>
