<h2 class="jumbotron">My Applications</h2>
<div class="card-columns">
  <div class="card text-center bg-light"
       style="width: 18rem;"
       *ngFor="let app of applications">
    <div class="card-header"><h4>{{ app.name }}</h4></div>
    <img class="card-img-bottom"
         [src]="app.imageUrl"
         [alt]="app.name">
    <div class="card-body">
      <p class="card-text">{{ app.details }}</p>
      <a class="btn btn-primary stretched-link" [href]="app.url">Go to page</a>
    </div>
  </div>
</div>

<h2 class="jumbotron">My Websites</h2>
<div class="card-columns">
  <div class="card text-center bg-light"
       style="width: 18rem;"
       *ngFor="let website of websites">
    <div class="card-header"><h4>{{ website.name }}</h4></div>
    <img class="card-img-bottom"
         [src]="website.imageUrl"
         [alt]="website.name">
    <div class="card-body">
      <p class="card-text">{{ website.details }}</p>
      <a class="btn btn-primary stretched-link" [href]="website.url">Go to website</a>
    </div>
  </div>
</div>
