<h3 class="h3">Applications</h3>
<a
  class="list-group-item clearfix"
  *ngFor="let app of applications"
  [href]="app.url">
  <div class="pull-left">
    <h3 class="list-group-item-heading">{{app.name}}</h3>
  </div>
  <span class="pull-right">
        <img [src]="app.imageUrl" alt="{{ app.name }}" class="img-responsive" style="min-height: 60px; max-height: 100px;">
      </span>
</a>

<h3 class="h3">Websites</h3>
<a
  class="list-group-item clearfix"
  *ngFor="let website of websites"
  [href]="website.url">
  <div class="pull-left">
    <h3 class="list-group-item-heading">{{ website.name }}</h3>
  </div>
  <span class="pull-right">
        <img [src]="website.imageUrl" alt="{{ website.name }}" class="img-responsive" style="min-height: 60px; max-height: 100px;">
      </span>
</a>


