<div class="container-fluid">
  <div
    class="card"
    [@slideInUp]>
    <div class="card-header">
      <h2 class="card-title">My New Angular Dev Page</h2>
      <h4 class="card-subtitle">{{creationDate | date}}</h4>
      <br>
      <h6 class="card-subtitle text-muted"> <cite>Lloyd Nicholson</cite></h6>
    </div>
    <div class="card-body">
      <div class="card-text">
        This is where it all happens. Take a look at my new projects, websites, game art, and design portfolio.
        I will try to post information regularly and I hope you come back and add this site as a bookmark.
        I’ve got lots of information to share.
        Enjoy browsing and have fun!
        I have recently started mobile, web and applications development and it is a passion of mine.
        It has been a long time coming that I end up working on something application or programming related.
        It brings me lots of joy and excitement to make applications, games, websites and pixel art.
        I mainly use Javascript and Typescript at the moment but I have decent experience with a few other languages.
        Please enjoy my site and browse my collections and projects.
      </div>
    </div>

  </div>
</div>

