<div class="container-fluid">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Welcome</h2>
      <h3>{{creationDate | date}}</h3>
      <h4> by Lloyd Nicholson</h4>
    </div>
    <div class="panel-body">
      <p>This is where it all happens. Take a look at my new projects, game art and future endeavours.
        I will try to post information regularly and I hope you come back and add this site as a bookmark.
        I’ve got lots of information to share.
        Enjoy browsing and have fun!</p>
      <h3>MY DEVELOPMENT JOURNEY</h3>
      <p>I have recently started game development and it is a hobby of mine at the moment.
        It has been about 5 months and I’ve thoroughly enjoyed the process.
        It has been a long time coming that I end up working on something game related.
        It brings me lots of joy and excitement to make games and pixel art.
        I am using a game engine called GameMaker Studio 2.
        It has exceptionally good pixel art editing software that is used within it and it uses GameMaker Language as a programming language.
        It is similar to Java and Javascript in many ways but developed from the ground up by Yoyo Games Ltd. There will be more challenges and excitement ahead on my journey, I’m sure of it.</p>
      <h3>L.N.</h3>
    </div>
  </div>
</div>

