<div>
  <h2>WELCOME</h2>
  <p>This is where it all happens. Take a look at my new projects, game art and future endeavours.
    I will try to post information regularly and I hope you come back and add this site as a bookmark.
    I’ve got lots of information to share.
    Enjoy browsing and have fun!</p>
  <h3>MY DEVELOPMENT JOURNEY</h3>
  <p>I have recently started game development and it is a hobby of mine at the moment.
    It has been about 5 months and I’ve thoroughly enjoyed the process.
    It has been a long time coming that I end up working on something game related.
    It brings me lots of joy and excitement to make games and pixel art.
    I am using a game engine called GameMaker Studio 2.
    It has exceptionally good pixel art editing software that is used within it and it uses GameMaker Language as a programming language.
    It is similar to Java and Javascript in many ways but developed from the ground up by Yoyo Games Ltd.&nbsp;
    There will be more challenges and excitement ahead on my journey, I’m sure of it.</p>
  <h3>LN</h3>
</div>



<!--<div class="container-fluid">-->
  <!--<label for="name">Enter your name: </label>-->
  <!--&lt;!&ndash;<input type="text" id="name" class="form-control" [(ngModel)]="visitorsName">&ndash;&gt;-->
  <!--<input type="text" id="name" class="form-control" #visitorName>-->
  <!--<button (click)="logWelcome(visitorName)" class="btn btn-primary pull-right">Submit</button>-->
<!--</div>-->

<!--<div class="container-fluid">-->
  <!--<p *ngIf="entered">Hi {{visitorName.value}}, thanks for visiting my website. My site was created using Angular 7 and Angular CLI.-->
    <!--I am experimenting with Angular to create the best experience possible. Angular is quick and allows me to switch between information very quickly.-->
  <!--</p>-->
<!--</div>-->

