<div
    class="project-section"
    fxLayout="column"
    fxLayoutAlign="center center">
    <h2
        class="project-header"
        fxLayoutAlign="center">My Applications</h2>
    <section
        fxLayout="row wrap"
        fxLayoutAlign="center"
        [@listState]="applications?.length"
        *ngIf="!isLoadingApplications">
        <app-project
            *ngFor="let app of applications"
            type="application"
            [project]="app"></app-project>
    </section>
    <mat-spinner *ngIf="isLoadingApplications"></mat-spinner>
</div>

<div
    class="project-section"
    fxLayout="column"
    fxLayoutAlign="center center">
    <h2
        class="project-header"
        fxLayoutAlign="center">My Games</h2>
    <section
        fxLayout="row wrap"
        fxLayoutAlign="center"
        [@listState]="games?.length"
        *ngIf="!isLoadingGames">
        <app-project
            *ngFor="let game of games"
            type="game"
            [project]="game"></app-project>
    </section>
    <mat-spinner *ngIf="isLoadingGames"></mat-spinner>
</div>

<div
    class="project-section"
    fxLayout="column"
    fxLayoutAlign="center center">
    <h2
        class="project-header"
        fxLayoutAlign="center">My Websites</h2>
    <section
        fxLayout="row wrap"
        fxLayoutAlign="center"
        [@listState]="websites?.length"
        *ngIf="!isLoadingWebsites">
        <app-project
            *ngFor="let website of websites"
            type="website"
            [project]="website"></app-project>
    </section>
    <mat-spinner *ngIf="isLoadingWebsites"></mat-spinner>
</div>
