<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="jumbotron">My Applications</h2>
      <div class="card-columns" [@slideInRight]>
        <app-application-item
          *ngFor="let app of applications"
          [app]="app"></app-application-item>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2 class="jumbotron">My Games</h2>
      <div class="card-columns" [@slideInRight]>
        <app-game-item
          *ngFor="let game of games"
          [game]="game"></app-game-item>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2 class="jumbotron">My Websites</h2>
      <div class="card-columns" [@slideInRight]>
        <app-website-item
          *ngFor="let website of websites"
          [website]="website"></app-website-item>
      </div>
    </div>
  </div>
</div>
