<div class="container-fluid">
    <h2 class="jumbotron">My Skills</h2>
    <div class="card-columns">
        <div class="card bg-light text-center border-dark" *ngFor="let skill of mySkills">
            <div class="card-header">{{ skill.name }}</div>
            <div class="card-body" *ngIf="skill.projects">
                <a style="text-decoration: none" *ngFor="let project of skill.projects"
                   [href]="project.url">{{ project.name }}
                    <hr>
                </a>
            </div>
            <div class="card-footer">Skill Level: {{ skill.experienceLevel }}</div>
        </div>
    </div>
</div>

