mat-card {
    max-width: 300px;
    margin: 10px;
}

.mat-raised-button {
    background-color: #d1c4e9;
    margin-bottom: 5px;
}

.mat-raised-button:hover, .mat-raised-button:active {
    background-color: rgba(80, 38, 183, 0.27);
}
