<mat-card fxLayout="column" fxLayoutAlign="space-around">
  <mat-card-title-group>
    <mat-card-title>{{ skill.name }}</mat-card-title>
    <mat-card-subtitle>{{ skill.experienceLevel }}</mat-card-subtitle>
    <mat-card-subtitle>{{ skill.projectType }}</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-actions
    fxLayout="row"
    fxLayoutAlign="space-around"
    *ngIf="skill.projects"
  >
    <a
      mat-icon-button
      [matTooltip]="project.name"
      color="primary"
      *ngFor="let project of skill.projects"
      [href]="project.url"
    >
      <mat-icon color="primary">explore</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>
