<div fxLayout="column"
     fxLayoutAlign="center center">
    <h2 class="heading">My Skills</h2>
    <div>
        <h4>See my completed courses <a routerLink="/completed-courses">here</a>.</h4>
    </div>
    <div
        *ngIf="!isLoading"
        fxLayout="row wrap"
        fxLayoutAlign="center"
        [@listState]="mySkills?.length">
        <app-development-detail
            *ngFor="let skill of mySkills"
            [skill]="skill"></app-development-detail>
    </div>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>

