<h2 class="jumbotron">My Games</h2>
<div class="card-columns">
  <div class="card text-center bg-light"
       id="gameCard"
       style="width: 18rem;"
       *ngFor="let game of games">
    <div class="card-header"><h4>{{ game.name }}</h4></div>
    <img class="card-img-top"
         [src]="game.imageUrl"
         [alt]="game.name">
    <div class="card-body">
      <p class="card-text">{{ game.details }}</p>
      <a class="btn btn-primary stretched-link" [href]="game.url">Go to page</a>
    </div>
  </div>
</div>
