mat-spinner {
    margin: auto;
}

section {
    display: grid;
    grid-template-columns: 35% 65%;
}

:host {
    display: block; /* must set to block if you want to perform a route animation because by default it is inline */
}

nz-skeleton {
    display: flex;
    align-content: center;
    width: 90%;
    height: 100%
}
