<section fxlayout.lt-sm="column" fxlayoutalign.lt-sm="center center">
    <div [style.xs]="{width: '80%'}" [style.gt-sm]="{width: '100%'}">
        <app-about-me></app-about-me>
    </div>
    <div class="post-items">
        <mat-accordion>
            <mat-expansion-panel *ngFor="let post of posts">
                <mat-expansion-panel-header>{{ post.title }}</mat-expansion-panel-header>
                <h3>{{ post.date | date }}</h3>
                <h4>{{ post.author }}</h4>
                <p [innerHTML]="post.content"></p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</section>