/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
    font-size: 18px;
    line-height: 2rem;
}

.header {
    margin-top: 1rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-size: 24px;
    font-family: "Righteous", cursive;
}

.section {
    display: block;
    width: 100%;
}

a:hover {
    color: whitesmoke;
}
