<mat-card [@slideInUp]>
    <mat-card-title-group>
        <mat-card-title>My New Angular Dev Site</mat-card-title>
        <mat-card-subtitle>{{ creationDate | date: 'fullDate' }}</mat-card-subtitle>
        <mat-card-subtitle>Lloyd Nicholson</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
        <p>
            This is where it all happens. Take a look at my new projects, websites,
            game art, and design portfolio. I will try to post information regularly
            and I hope you come back and add this site as a bookmark. I’ve got lots of
            information to share. Enjoy browsing and have fun! I have recently started
            mobile, web and applications development and it is a passion of mine. It
            has been a long time coming that I end up working on something application
            or programming related. It brings me lots of joy and excitement to make
            applications, games, websites and pixel art. I would really like to become
            a programmer and do it as a full time career. I mainly use Javascript and
            Typescript at the moment but I have experience with a few other
            programming languages. Please enjoy my site and browse my collections and
            projects.           
        </p>
    </mat-card-content>
    <a mat-raised-button
       href="https://www.patreon.com/bePatron?u=12208561"
       color="primary">Become a patron</a>
</mat-card>