<mat-card @slideInUpState>
    <mat-card-title-group>
        <mat-card-title>My Angular Development Site</mat-card-title>
        <mat-card-subtitle>{{ creationDate | date: 'fullDate' }}</mat-card-subtitle>
        <mat-card-subtitle>Lloyd Nicholson</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
        <h3>Welcome</h3>
        <p>
            This is where it all happens. Take a look at my new projects, websites, game art, and design portfolio. I
            will try to post information regularly and I hope you come back and add this site as a bookmark. I’ve got
            lots of information to share. Enjoy browsing and have fun! I am a mobile, web and
            applications developer and it is a passion of mine. I have worked with various frameworks including Angular,
            React and Ionic. I have created many different websites, applications and games in my coding journey so
            far. It has been a long time coming that I end up working on something application or programming related.
            It brings me lots of joy and excitement to make applications, games, websites and pixel art. I would really
            like to work as a programmer full time one day. Freelancing or working for a business. I take advantage of
            various different programming languages and I enjoy learning new skills.
        </p>
        <h3>Top of my Skill List</h3>
        <p>
            Angular, React, Ionic, MongoDB, Node and animations of any kind. Please enjoy my website and browse my
            collections and projects. Creating programmes that run as smoothly as possible is my goal. A user interface
            that is always user-centric in it's look and feel is the prime objective. Mobile-first is the main aim. If a
            user cannot use your application on their phone or other mobile device it may not be as useful as it could
            be.
        </p>
    </mat-card-content>
    <a mat-raised-button
       href="https://www.patreon.com/bePatron?u=12208561"
       color="primary">Become a patron</a>
</mat-card>
